
        h2 {
            color: #333;
        }
        table {
            color:#333;
        }
        th {
			background-color:#b6b6b6;
            color:#333;
        }
        td {
            border-bottom: 1px solid #233554;
        }
        footer {
            color:#333;
        }
		p {
            color:#333;
        }
		mark {
            background-color:#333;
        }
		h1 {
            color: #333;
        }